x-depends_on: &default-depends_on
  "db":
    condition: service_healthy
  "mail":
    condition: service_started

include:
    - application.yaml
    - web.yaml
    - consumer.yaml
    - ws.yaml
    - db.yaml
    - mail.yaml
    - init.yaml

services:
  common: &common-config
    image: $ORO_IMAGE:$ORO_IMAGE_TAG
    env_file: .env
    depends_on:
      <<: *default-depends_on
    volumes:
      - cache:/var/www/oro/var/cache
      - public:/var/www/oro/public
      - public_storage:/var/www/oro/public/media
      - private_storage:/var/www/oro/var/data

  
  php-fpm-app:
    <<: *common-config
    command: php-fpm
    user: ${ORO_USER_RUNTIME:-www-data}
    healthcheck:
      test: "php-fpm-healthcheck"
      interval: 5s
      timeout: 30s
      start_period: 120s
    restart: unless-stopped
    depends_on:
      <<: *default-depends_on
      "init":
        condition: service_completed_successfully    
    volumes:
      - run_php_fpm:/run/php-fpm
    networks:
      - back-end

  cron:
    <<: *common-config
    command: cron
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 1024
        hard: 1048576
    depends_on:
      "php-fpm-app":
        condition: service_healthy

  install:
    <<: *common-config
    image: $ORO_IMAGE:$ORO_IMAGE_TAG
    command: console oro:install --no-interaction --timeout=3600 --user-name="$ORO_USER_NAME" --user-email="$ORO_USER_EMAIL" --user-firstname="$ORO_USER_FIRSTNAME" --user-lastname="$ORO_USER_LASTNAME" --user-password="$ORO_USER_PASSWORD" --sample-data="$ORO_SAMPLE_DATA" --organization-name="$ORO_ORGANIZATION_NAME" --language=$ORO_LANGUAGE --formatting-code=$ORO_FORMATTING_CODE --application-url="$ORO_APP_PROTOCOL://$ORO_APP_DOMAIN" $ORO_INSTALL_OPTIONS
    user: $ORO_USER_RUNTIME
    

  restore: &restore
    <<: *common-config
    image: ${ORO_IMAGE_INIT}${ORO_LANGUAGE_SUFFIX-}:$ORO_IMAGE_TAG
    command: restore
    user: $ORO_USER_RUNTIME
    

volumes:
  cache: {}
  public_storage: {}
  private_storage: {}
  etc_nginx: {}
  run_php_fpm: {}
  public: {}


networks:
  front-end:
    driver: bridge
  back-end:
    driver: bridge